{{ form_start(form) }}
    {{ form_widget(form.users, {'attr': {'class': 'users'}}) }}
{{ form_end(form) }}
    <button class="btn-option">
        <div class="btn-action-hover"{{ button_label|default('Savegarder') }}>Sauvegarder</div>
    </button></br>

