{% extends 'base.html.twig' %}

{% block title %}Modifier {{ promotion.promotionName }}{% endblock %}

{% block body %}
    <h1>Modifier {{ promotion.promotionName }}</h1>
    {{ include('promotion/_form.html.twig', {'button_label': 'Update'}) }}
    <button class="btn-option">
        <a class="btn-action-hover" href="{{ path('promotion_index') }}">Retourner à la liste</a>
    </button>
    {{ include('promotion/_delete_form.html.twig') }}
{% endblock %}
