{% extends 'base.html.twig' %}

{% block title %}Promotion{% endblock %}

{% block body %}
    <h1>Liste des promotions</h1>

    <a href="{{ path('promotion_new') }}"> +Créer une nouvelle formation</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom de la formation</th>
                <th>Créateur de la formation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promotion in promotions %}
            <tr>
                <td>{{ promotion.id }}</td>
                <td>{{ promotion.PromotionName }}</td>
                <td>{{ promotion.author }}</td>
                <td>
                <a class="btn-action" href="{{ path('promotion_show', {'id': promotion.id}) }}">Voir</a>
                    {% if promotion.author == app.user %}
                        <a class="btn-action" href="{{ path('promotion_edit', {'id': promotion.id}) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('promotion_new') }}">Créer une nouvelle formation</a>
{% endblock %}
