{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle promotion{% endblock %}

{% block body %}
    <h1>Créer une nouvelle promotion</h1>

    {{ form_start(form) }}
        {{ form_widget(form.users, {'attr': {'class': 'users'}}) }}
    {{ form_end(form) }}

    <a href="{{ path('promotion_index') }}">Retourner à la liste</a>
{% endblock %}
