{# author Mélanie Engrand #}
{% extends 'base.html.twig' %}

{% block title %}Promotion {{ promotion.promotionName }}{% endblock %}

{% block body %}
    <h1>Promotion {{ promotion.promotionName}}</h1></br>
    <h2>Liste des apprenants pour cette promotion</h2>
    {% for user in usersPromo %}
        {{ user.firstname }} - {{ user.lastname }} </br>
    {% endfor %} 
    </br><h2>Détail de la promotion</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promotion.id }}</td>
            </tr>
            <tr>
                <th>PromotionName</th>
                <td>{{ promotion.PromotionName }}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn-option">
        <a class="btn-action-hover" href="{{ path('promotion_index') }}">Retourner à la liste des promotions</a>
    </button>
    </br>
    {% if promotion.author == app.user %}
        <button class="btn-option">
            <a class="btn-action-hover" href="{{ path('promotion_edit', {'id': promotion.id}) }}">Modifier</a>
        </button>
        {{ include('promotion/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
