/// @author Mélanie Engrand 

.home {
    padding-top: 6rem;
    text-align: center;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 1.3rem;
}
.home_message {
    text-align: center;
    padding:0.5rem;
    padding-top: 2rem;
}
.home_link {
    color: rgb(23,43,87);
}
