{# author : Mélanie Engrand #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Page home{% endblock %}</title>
        {# Run composer require symfony/webpack-encore-bundle
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% include 'header.twig' %}
    </head>
    <body>
        {% include 'menu.twig' %}
        {% block body %}
        {% endblock %}
    </body>
    
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>
