{# author : Mélanie Engrand #}

{% block body %}     
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img src="{{ asset('build/images/marge.png') }}" title="logo" alt="logo de marge simpson" />
    <a class="navbar-brand" href="/">Ici présent !</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
        {# If user is logged #}
        {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('auth_profil') }}">{{app.user.firstname}} {{app.user.lastname}}</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>
        {% else %}
            <li class="nav-item {% if menu is defined and menu == 'register' %}active{% endif %}">
                <a class="nav-link" href="enregistrement">S'inscrire</a>
            </li>
            <li class="nav-item {% if menu is defined and menu == 'login' %}active{% endif %}">
                <a class="nav-link" href="/login">Se connecter</a>
            </li>
        {% endif %}
        </ul>
    </div>
    </nav>
{% endblock %}