{# #}
{% if app.user %}
    <nav>
        <div class="undernavigation">
            {% if is_granted('ROLE_MANAGER')%}
                <a class="link" href="{{ path('user_index') }}">Utilisateurs</a>
            {% endif %}
            {% if is_granted('ROLE_MANAGER')%}
                <a class="link" href="{{ path('time_slot_index') }}">Créneaux</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN')%}
                <a class="link" href="{{ path('promotion_index') }}">Promotions</a>
            {% endif%}
        </div>
    </nav>
{% endif %}