@import "~bootstrap/scss/bootstrap";
/// @author Mélanie Engrand

body {
    background-color: rgb(247, 247, 247);
    color: black;
}
.title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.container {
    & .form-control{
        margin-bottom: 2rem;
    }
    & .btn {
        text-transform: uppercase;
    }
}
.form-error {
    margin-top: -1.5rem;
    p {
        color: #dc3545;
    }
}

.error-message {
    margin-top: 1rem;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: red;
}
.form-group {
    margin-left: 1rem;
}
.col-form-label, .required{
    font-size: x-large;
    padding-bottom: 0.5rem;
}
.block-account {
    padding: 2rem; 
}
.title-account {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
.under-title-account {
    font-style: italic;
    font-size: large;
    text-align: center;
}
h1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom:2rem; 
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 2rem;
    color: rgb(61, 61, 61);
}
.pagination {
    padding-left: 0.3rem;
    padding-top:0.5rem;
}

.col-form-label, .required {
    font-size: 1rem;
}

.btn tn-lg btn-primary {
    margin-left: 1.2rem;
}

h2 {
    font-size: 1.2rem;
}
.form-control {
    margin-right:3rem;
}