/// @author Mélanie Engrand

.btn-delete{
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    border: none;
    margin-left:1rem;
    margin-top: 1rem;
    background-color: rgb(247,247,247);
    font-size: 1.2rem;
}
.btn-delete:hover{
    background-color: red;
    color: black;
    border: 1px solid red;
}
 .btn-option{
    text-transform:uppercase;
    margin-left: 1rem;
    color:rgb(0,123,255);
    margin-top: 1rem;
    border:none;
    background-color: rgb(247,247,247);
    &:hover{
        background-color: rgb(0,123,255);
    }
}
.btn-action{
    margin-top:0.5rem;
    border: none;
    font-size: 1rem;
    &:hover{
        color: rgb(75, 75, 75);
        text-decoration: underline;
    }
}
.btn-action-hover {
    font-family: 'Noto Sans SC', sans-serif;
    text-decoration:none;
    font-size: small;
    padding:0.6rem;
    border:none;
    &:hover{
        text-decoration:none;
        padding:0.8rem;
        color:white;
        
    }
}