.form-check {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    padding-bottom:1.5rem;
    border-bottom: 1px solid silver;
}
.form-check-label {
    font-size: large;
    padding-left: 1rem;
}
.form-check-input {
    height: 2rem;
    width: auto;
}