/// @author Mélanie Engrand 

.bg-primary {
    padding-top:1rem;
    padding-bottom:1.5rem;
}
// Application title
.navbar-brand {
    font-size : 1.3rem;
}
.nav-item-connected {
    text-decoration:none;
}
.bg-primary {
    font-family: 'Noto Sans SC', sans-serif;
    background: linear-gradient( 70deg, rgb( 128,128,128), rgb(194, 194, 194) );
}
// Logo marge
img {
    height : 3rem;
    padding-right : 2rem; 
}
.nav-link {
    font-size: 1rem;
}