/// @author Mélanie Engrand

.undernavigation {
    background: linear-gradient( 70deg, rgb( 128,128,128), rgb(194, 194, 194) );
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0.5rem;
    box-shadow: 1px 1px 4px 3px rgb(218, 214, 214);
    height: 4rem;
}
.link {
    text-decoration: none;
    color: #FFFFFF;
    list-style-type: none;
    font-family: 'Noto Sans SC', sans-serif;
    text-shadow: rgb(112, 112, 112) 2px 0 2px;
    margin-bottom: 0.7rem;
    &:hover{
        text-decoration: none;
        color: rgb(226, 220, 255);
        border-bottom: 2px solid rgb(226, 220, 255);
    }
}
link-nav {
    list-style-type: none;
}