{% extends 'base.html.twig' %}
{% block title %}
    Erreur 403
{% endblock %}
{% block body %}
    <h1 class="error-message">ERREUR 403</h1>
    <p class="error-message">Désolé {{ app.user.firstname }},</br>tu ne disposes pas des droits nécéssaires pour avoir accès à ce contenu</p>
{% endblock %}