<form method="post" action="{{ path('time_slot_delete', {'id': time_slot.id}) }}" onsubmit="Etes vous sûr de vouloir supprimer ce créneau ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ time_slot.id) }}">
    <button class="btn-delete">Delete</button>
</form>
