{% extends 'base.html.twig' %}

{% block title %}Modifier {{ time_slot.id }}{% endblock %}

{% block body %}
    <h1>Modifier le créneau {{ time_slot.id }}</h1>
    {{ include('time_slot/_form.html.twig') }}
    <button class="btn-option">
        <a class="btn-action-hover" href="{{ path('time_slot_index') }}">Retourner à la liste</a>
    </button>

    {{ include('time_slot/_delete_form.html.twig') }}
{% endblock %}
