{% extends 'base.html.twig' %}

{% block title %}Creneaux{% endblock %}

{% block body %}
    <h1>Liste de tous les créneaux</h1>
    {% if is_granted('ROLE_ADMIN')%}
        <a href="{{ path('time_slot_new') }}"> + Créer un nouveau créneau</a>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for time_slot in time_slots %}
            <tr>
                <td>{{ time_slot.id }}</td>
                <td>{{ time_slot.Start ? time_slot.Start|date('H:i:s d-m-Y') : '' }}</td>
                <td>{{ time_slot.End ? time_slot.End|date('H:i:s d-m-Y') : '' }}</td>
                <td>
                    <a class="btn-action" href="{{ path('time_slot_show', {'id': time_slot.id}) }}">Voir</a>
                    {% if is_granted('ROLE_ADMIN')%}
                        <a class="btn-action" href="{{ path('time_slot_edit', {'id': time_slot.id}) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN')%}
        <a class="new_time_slot_link" href="{{ path('time_slot_new') }}"> + Créer un nouveau créneau</a>
    {% endif %}
{% endblock %}
