{% extends 'base.html.twig' %}

{% block title %}Nouveau créneau{% endblock %}

{% block body %}
    <h1>Créer un nouveau créneau</h1>

    {{ include('time_slot/_form.html.twig') }}
    <button class="btn-option">
        <a class="btn-action-hover" href="{{ path('time_slot_index') }}">Retourner à la liste des créneaux</a>
    </button>
{% endblock %}
