{# author Mélanie Engrand #}

{% extends 'base.html.twig' %}

{% block title %}Creneau {{ time_slot.id }}{% endblock %}

{% block body %}
    <h1>Créneau {{ time_slot.id }}</h1>
    <h2>Liste des apprenants pour ce créneau</h2>     
    <table class="table">
        <tbody>
            <tr>
                <th>Apprenant</th>
                <th>Présence</th>
            </tr>
            {% for validation in timeslotvalidation %}
                <tr>
                    <td> {{ validation.user }} </td>
                    <td> {{ validation.presence }}</td>
                </tr>
            {% endfor %}
    </br>
    <table class="table">
    <h2>Créneaux</h2>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ time_slot.id }}</td>
            </tr>
            <tr>
                <th>Début</th>
                <td>{{ time_slot.Start ? time_slot.Start|date('H:i:s d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ time_slot.End ? time_slot.End|date('H:i:s d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ time_slot.Code }}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn-option">
        <a class="btn-action-hover" href="{{ path('time_slot_index') }}">Retourner à la liste des utilisateurs</a>
    </button>
    </br>
    {% if is_granted('ROLE_ADMIN')%}
        <button class="btn-option">
            <a class="btn-action-hover" href="{{ path('time_slot_edit', {'id': time_slot.id}) }}">modifier</a>
        </button>
    {% endif %}
    {% if is_granted('ROLE_ADMIN')%}
        {{ include('time_slot/_delete_form.html.twig') }}
    {% endif %}</br>
{% endblock %}
