{% extends 'base.html.twig' %}

{% block title %}S'enregister{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    {% if errors | length > 0 %}
            <div class="alert alert-danger" type="danger">
                {% for error in errors %}
                    {{ error.message }}
                    {% if not loop.last %}
                        <br/>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
<div class="container"
    <form>
        <h1 class="title">S'enregister</h1>
        <div class="formulaire">
            {{ form_start(registrationForm, {attr: {class: 'auth-form'}}) }}
                <div class="formulaire_text">{{ form_row(registrationForm.firstname)}}</div>
                <div class="formulaire_text">{{ form_row(registrationForm.lastname) }}</div>
                <div class"formulaire_text">{% if registrationForm.email is defined %}</div>
                <div class="formulaire text">{{ form_row(registrationForm.email) }}</div>
                {% endif %}
                {% if registrationForm.plainPassword is defined %}
                    {{ form_row(registrationForm.plainPassword) }}
                {% endif %}
                {# {{ form_row(registrationForm.agreeTerms) }} #}
                <button type="submit" class="btn btn-lg btn-primary">S'enregister</button>
            {{ form_end(registrationForm) }}</br>
        </div>
    </form>
</div>
{% endblock %}