{# author Mélanie Engrand #}
{% extends 'base.html.twig' %}

{% block title %}Signature{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Entrez le code de la session:</br></h1>
        {{ form_start(form) }}

        {{ form_row(form.TimeSlot) }}
        {{ form_row(form.Code) }}
        <button class="btn btn-lg btn-primary" type="submit">
            Signer
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
