{# author Mélanie Engrand #}

{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER')%}
        <h1 class="title">
            Vous avez réussi à vous connecter, félicitation !
        </h1>
    {% else %}
        <h1 class="title">
            Vous avez été enregistré.</br> Vous pourrez vous connecter</br>après avoir reçu l'email de confirmation.</br></br> A bientôt!
        </h1>
    {% endif %}
    </p>
{% endblock %}
