{# author Mélanie Engrand #}

{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {# If user is connected #}
    {% if app.user and app.user.id == user.id %}
        <h1 class="home">Heureux de vous revoir {{app.user.firstname}} !</h1>  
    {# If the user is not logged in #}
    {% else %}
        <h1 class="home">Bienvenue sur l'application <B>ici présent !</B></h1>
        <p class="home_message">Veuillez cliquez sur l'une des options présente en haut de la page pour vous
            <a class="home_link" href="/enregistrement"><B> inscrire</B></a>
            ou pour vous
            <a class="home_link" href="/login"><B>connecter</B></a>
        </p>
    {% endif %}
{% endblock %}
