{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Réinitialisation du mot de passe</h1>
    
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre email et nous vous enverrons un lien de réinitialisation.
            </small>
        </div>
        <button class="btn btn-primary">Envoi</button>
    {{ form_end(requestForm) }}
{% endblock %}