{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="title">Se connecter</h1>
        <label for="inputEmail">Adresse email : </label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Mot de passe : </label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
        <div><a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié?</a></div>


        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Rester connecté
                </label>
            </div>
    

        <button class="btn btn-lg btn-primary" type="submit">
            Envoyer
        </button>
</form>
</div>

{% endblock %}
