{# author Mélanie Engrand #}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn-option">
        <div class="btn-action-hover"{{ button_label|default('Sauvegarder') }}>Sauvegarder</div>
    </button>
{{ form_end(form) }}
