{# author Mélanie Engrand #}
{% extends 'base.html.twig' %}

{% block title %}Modifier {{ user.FirstName }} {{ user.LastName }}{% endblock %}

{% block body %}
    <h1>Modifier {{ user.FirstName}} {{ user.LastName }}</h1>
    {{include ('user/_form.html.twig')}}
    <button class="btn-option">
        <a class="btn-action-hover" href="{{ path('user_index') }}">Retourner à la liste</a>
    </button>
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
