{# author Mélanie Engrand #}

{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Listes des utilisateurs</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {# I loop on my users #}
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td> 
                {# Depending on the role I display the adapted result #}
                    {% for role in user.roles %}
                        {% if role == 'ROLE_MANAGER' %}
                            Formateur
                        {% elseif role == 'ROLE_USER' %}
                            Apprenant
                        {% elseif role == 'ROLE_ADMIN'%}
                            Responsable
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ user.FirstName }}</td>
                <td>{{ user.LastName }}</td>
                <td>
                    <a class="btn-action" href="{{ path('user_show', {'id': user.id}) }}">Voir</a>
                    {% if is_granted('ROLE_ADMIN')%}
                        <a class="btn-action" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
        {# If no users are listed #}
            <tr>
                <td colspan="7">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# We call the pagination on the users #}
    <div class="pagination">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}
