{# author Mélanie Engrand #}
{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>
    {{ include('user/_form.html.twig') }}
    <button>
        <a href="{{ path('user_index') }}">Retourner à la liste</a>
    </button>
{% endblock %}
