{# author Mélanie Engrand #}

{% extends 'base.html.twig' %}

{% block title %}{{user.FirstName}} {{user.lastName}}{% endblock %}

{% block body %}
    <h1>{{user.FirstName}} {{user.LastName}}</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}<td>
            <tr>
                <th>Nom</th>
                <td>{{ user.LastName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.FirstName }}</td>
            </tr>
            <tr>
                <th>Adresse Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Role</th>
                {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
                <td>
                    {% for role in user.roles %}
                        {% if role == 'ROLE_MANAGER' %}
                            Formateur
                        {% elseif role == 'ROLE_USER' %}
                            Apprenant
                        {% elseif role == 'ROLE_ADMIN'%}
                            Resonsable
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn-option">
        <a class="btn-action-hover" href="{{ path('user_index') }}">Retourner à la liste des utilisateurs</a>
    </button></br>
    {% if is_granted('ROLE_ADMIN')%}
        <button class="btn-option">
            <a class="btn-action-hover" href="{{ path('user_edit', {'id': user.id}) }}">modifier</a>
        </button></br>
    {% endif %}
    {% if is_granted('ROLE_ADMIN')%}
        {{ include('user/_delete_form.html.twig') }}
    {% endif %}
    
    
{% endblock %}