{# author Mélanie Engrand #}
{% extends 'base.html.twig' %}

{% block title 'Mon compte' %}

{% block body %}
    {# I go through all the users and check that it's me #}
    {% if app.user and app.user.id == user.id %}
        <div class="block-account">
            <p class="title-account"> Bienvenue sur votre espace personnel {{ app.user.firstname }}</p>
            <p class="under-title-account"> Voici le récapitulatif de vos coordonnées : </p>
            <p>Nom : {{ app.user.firstname }}</p>
            <p>Prénom : {{ app.user.lastname }}</p>
            <p>E-mail : {{ app.user.email }}</p>
            <p>Mot de passe : *******</p>
       </div> 
    {% endif %}
{% endblock %}